.container{
    display: flex;
    flex-direction:row-reverse;
    border: 1px solid red;
    flex-wrap: wrap;
    background-color: aqua;
    justify-content:space-evenly ;
}
.c1{
    border: 2px dotted chartreuse;
    background-color: aquamarine;
    height: 400px;
    width: 350px;
    order:4;

    
}
.c2{
    border: 2px dotted rgb(184, 210, 37);
    background-color: rgb(118, 118, 136);
    height: 400px;
    width: 350px;
}
.c3{
    border: 2px dotted rgb(162, 52, 116);
    background-color: forestgreen;
    height: 400px;
    width: 350px;
}
.c4{
    border: 2px dotted rgb(201, 79, 158);
    background-color: coral;
    height: 400px;
    width: 350px;
}